* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body { 
    margin: 0;
    height: 100%
}

.topcard {
    display: flex;
    background-color: #1f2937;
    justify-content: space-around;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    gap: 50px;
    font-size: 18px;
    color: #E5E7EB;
    padding: 20px;
}

.logoimg {
    transform: translate(15%, 15%);
    flex: 0;
} 

.topcard {
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.topcontainer {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


button { 
    background-color: #3883F6;
    margin-right: auto;
    color: white;
    height: 40px;
    width: 140px;
    border-radius: 10px;
  }

  .topcontainer > img {
    display: flex;
    margin-right: 100px;
    height: 350px;
    width: 600px;
    padding: 60px;
  }

  .tctext {
    margin-top: 25px;
    margin-left: 200px;
    width: 525;
  }

  .awesome {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
  }

  .sri {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
  }

  .panels {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 300px;

  }

  .panel1,
  .panel2,
  .panel3,
  .panel4 {
    flex-direction: column;
  }

  .panels img {
    height: 200px;
    width: 200px;
  }

  .panels p {
    text-wrap: wrap;
    width: 190px; 
    margin-top: 0px;
    text-align: center;
    font-size: 18px;
    color: #62666e;
  }

  .quote {
    display: flex; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background-color: #E5E7EB;
  }

  .quotetext {
    width: 1000px;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    align-items: center;
    margin-bottom: 0px;
  }

  .quote .author {
    color: #1F2937;
    font-size: 24px;
    font-weight: bolder;
    margin-top: 0px;
    text-align: end;
  }

  .quotetext p {
    margin-bottom: 0px;
  }


.cta {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

  .ctatext {
    font-size: 24px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .ctatextsub {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;
  }

  .ctabox {
    margin-top: 10px;
    margin-left: 35px;
    width: 900px;
    border-radius: 10px;
  }

  .box {
    border: 5px solid #3883F6;
    background-color: #3883F6;
    height: 150px;
    width: 1000px;
    display: flex;
    justify-content: flex-end; 
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 300px;
    border-radius: 10px;
}

.ctasu {
    margin-top: 50px;
    margin-right: 75px;
}

footer {
    background-color: #1f2937;
    color: white;
    font-size: 24px;
    text-align: center;
    height: 100px;
    padding: 25px;
}
